<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="true">

  <display-name>HTML Context</display-name>
  <description>
     Welcome to HTML Context
  </description>
  
	  <servlet>
		<servlet-name>SmServletListName</servlet-name>
		<servlet-class>sdo.sv.sm.SmServletList</servlet-class>
	  </servlet>
	  <servlet-mapping>
		<servlet-name>SmServletListName</servlet-name>
		<url-pattern>/sm/list.do</url-pattern>
	  </servlet-mapping>

	  <servlet>
		<servlet-name>SmServletSelName</servlet-name>
		<servlet-class>sdo.sv.sm.SmServletSel</servlet-class>
	  </servlet>
	  <servlet-mapping>
		<servlet-name>SmServletSelName</servlet-name>
		<url-pattern>/sm/sel.do</url-pattern>
	  </servlet-mapping>
  
	  <servlet>
		<servlet-name>SmServletDelName</servlet-name>
		<servlet-class>sdo.sv.sm.SmServletDel</servlet-class>
	  </servlet>
	  <servlet-mapping>
		<servlet-name>SmServletDelName</servlet-name>
		<url-pattern>/sm/del.do</url-pattern>
	  </servlet-mapping>
  
	  <servlet>
		<servlet-name>SmServletInName</servlet-name>
		<servlet-class>sdo.sv.sm.SmServletIn</servlet-class>
	  </servlet>
	  <servlet-mapping>
		<servlet-name>SmServletInName</servlet-name>
		<url-pattern>/sm/in.do</url-pattern>
	  </servlet-mapping>
  
	  <servlet>
		<servlet-name>SmServletUpSelName</servlet-name>
		<servlet-class>sdo.sv.sm.SmServletUpSel</servlet-class>
	  </servlet>
	  <servlet-mapping>
		<servlet-name>SmServletUpSelName</servlet-name>
		<url-pattern>/sm/upsel.do</url-pattern>
	  </servlet-mapping>
  
	  <servlet>
		<servlet-name>SmServletUpdateName</servlet-name>
		<servlet-class>sdo.sv.sm.SmServletUpdate</servlet-class>
	  </servlet>
	  <servlet-mapping>
		<servlet-name>SmServletUpdateName</servlet-name>
		<url-pattern>/sm/update.do</url-pattern>
	  </servlet-mapping>

	  <servlet>
		<servlet-name>AddrServletListPoolName</servlet-name>
		<servlet-class>soo.sv.addr.pool.AddrServletListPool</servlet-class>
	  </servlet>
	  <servlet-mapping>
		<servlet-name>AddrServletListPoolName</servlet-name>
		<url-pattern>/addr_pool/list.do</url-pattern>
	  </servlet-mapping>
	  <servlet>
		<servlet-name>AddrServletDelPoolName</servlet-name>
		<servlet-class>soo.sv.addr.pool.AddrServletDelPool</servlet-class>
	  </servlet>
	  <servlet-mapping>
		<servlet-name>AddrServletDelPoolName</servlet-name>
		<url-pattern>/addr_pool/del.do</url-pattern>
	  </servlet-mapping>
	  <servlet>
		<servlet-name>AddrServletInPoolName</servlet-name>
		<servlet-class>soo.sv.addr.pool.AddrServletInPool</servlet-class>
	  </servlet>
	  <servlet-mapping>
		<servlet-name>AddrServletInPoolName</servlet-name>
		<url-pattern>/addr_pool/in.do</url-pattern>
	  </servlet-mapping>
	
	  <servlet>
		<servlet-name>SmServletListPoolName</servlet-name>
		<servlet-class>sdo.sv.smpool.SmServletListPool</servlet-class>
	  </servlet>
	  <servlet-mapping>
		<servlet-name>SmServletListPoolName</servlet-name>
		<url-pattern>/sm_pool/list.do</url-pattern>
	  </servlet-mapping>
	  <servlet>
		<servlet-name>SmServletSelPoolName</servlet-name>
		<servlet-class>sdo.sv.smpool.SmServletSelPool</servlet-class>
	  </servlet>
	  <servlet-mapping>
		<servlet-name>SmServletSelPoolName</servlet-name>
		<url-pattern>/sm_pool/sel.do</url-pattern>
	  </servlet-mapping>
	  <servlet>
		<servlet-name>SmServletDelPoolName</servlet-name>
		<servlet-class>sdo.sv.smpool.SmServletDelPool</servlet-class>
	  </servlet>
	  <servlet-mapping>
		<servlet-name>SmServletDelPoolName</servlet-name>
		<url-pattern>/sm_pool/del.do</url-pattern>
	  </servlet-mapping>
	  <servlet>
		<servlet-name>SmServletInPoolName</servlet-name>
		<servlet-class>sdo.sv.smpool.SmServletInPool</servlet-class>
	  </servlet>
	  <servlet-mapping>
		<servlet-name>SmServletInPoolName</servlet-name>
		<url-pattern>/sm_pool/in.do</url-pattern>
	  </servlet-mapping>
	  <servlet>
		<servlet-name>SmServletUpSelPoolName</servlet-name>
		<servlet-class>sdo.sv.smpool.SmServletUpSelPool</servlet-class>
	  </servlet>
	  <servlet-mapping>
		<servlet-name>SmServletUpSelPoolName</servlet-name>
		<url-pattern>/sm_pool/upsel.do</url-pattern>
	  </servlet-mapping>
	  <servlet>
		<servlet-name>SmServletUpdatePoolName</servlet-name>
		<servlet-class>sdo.sv.smpool.SmServletUpdatePool</servlet-class>
	  </servlet>
	  <servlet-mapping>
		<servlet-name>SmServletUpdatePoolName</servlet-name>
		<url-pattern>/sm_pool/update.do</url-pattern>
	  </servlet-mapping>
</web-app>
